My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Welcome to XYZ hospital",
        "formDescription": "XYZ hospital recpiotionist form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your name ?"
            },
            {
              "fieldLabel": "What is your age ?",
              "fieldType": "number"
            },
            {
              "fieldLabel": "What is your email ?",
              "fieldType": "email"
            },
            {
              "fieldLabel": "What id your phone number ?",
              "fieldType": "number"
            },
            {
              "fieldLabel": "What is your query ?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "063bbcb1-3390-40ce-87bc-c3c8a8adf917",
      "name": "On form submission",
      "webhookId": "e4e24d58-83e9-49cd-894d-d0ba8632f6a8"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a hospital receptionist  agent for XYZ hospital.\nRead the patient information\nPatient Query: {{ $json[\"What is your query ?\"] }}\nYour role is to send the patient to correct ward from below :\n\nGeneral Ward: if the patient is suffering from general problems like fever, headache, cough etc. \n\nEmergency Ward: if the patient needs urgent care like problems like accident , heart attack etc.\n\nMental health: if the patient is suffering from mental health conditions. example: depression, trauma etc.\n\nOutput: only Ward name and nothing else from:\nGeneral Ward\nEmergency Ward\nMental Ward"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "97bf029e-b9a6-4435-8887-6c1d8a71a23c",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "OrzZG60QaKyXjN6h",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e24087f4-fa3e-4675-937a-e5f630e93074",
              "leftValue": "General Ward",
              "rightValue": "={{ $json.output[0].content[0].text }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "581979ce-5630-40a3-90fd-cf8cdbbc2c91",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Booking for patient:  {{ $json['Patient Name'] }}",
        "emailType": "text",
        "message": "=hi,  {{ $json['Doctor Name'] }}\nyou have a new patient for consultation\nPatient name: {{ $('On form submission').item.json['What is your name ?'] }}\npatient query: {{ $('On form submission').item.json['What is your query ?'] }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        976,
        -96
      ],
      "id": "11a437a1-7b0e-45f0-910a-66266f360106",
      "name": "Send a message",
      "webhookId": "38bf1ce5-a24b-408b-ad82-dfca4c128541",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q94L671xox0K9Aic",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI",
          "mode": "list",
          "cachedResultName": "hospital data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1918472012,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit#gid=1918472012"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ward Name",
              "lookupValue": "General Ward"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Free"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        -96
      ],
      "id": "656b0a5f-3bb4-4a10-8cef-ce4ff1646b16",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EbmU9Spq2VR52cgq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "727aea8e-99d1-4055-b9dd-4680171117c5",
              "leftValue": "={{ $('Message a model').item.json.output[0].content[0].text }}",
              "rightValue": "Emergency Ward",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        96
      ],
      "id": "be65ccfa-1e73-4bb0-a00d-5242888ed205",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI",
          "mode": "list",
          "cachedResultName": "hospital data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1918472012,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit#gid=1918472012"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Consulting",
            "Doctor Name": "={{ $('Get row(s) in sheet').item.json['Doctor Name'] }}"
          },
          "matchingColumns": [
            "Doctor Name"
          ],
          "schema": [
            {
              "id": "Doctor Name",
              "displayName": "Doctor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ward Name",
              "displayName": "Ward Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Time",
              "displayName": "Available Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        -96
      ],
      "id": "00731e27-ec4f-4245-90f9-78aefe808266",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EbmU9Spq2VR52cgq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI",
          "mode": "list",
          "cachedResultName": "hospital data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1918472012,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit#gid=1918472012"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Doctor Name": "={{ $json['Doctor Name'] }}",
            "Patient Name": "={{ $('On form submission').item.json['What is your name ?'] }}"
          },
          "matchingColumns": [
            "Doctor Name"
          ],
          "schema": [
            {
              "id": "Doctor Name",
              "displayName": "Doctor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ward Name",
              "displayName": "Ward Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Time",
              "displayName": "Available Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -112
      ],
      "id": "c60e7196-e548-484f-9609-2baf0c914b22",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EbmU9Spq2VR52cgq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI",
          "mode": "list",
          "cachedResultName": "hospital data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1918472012,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit#gid=1918472012"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ward Name",
              "lookupValue": "Emergency Ward"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "Free"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        48
      ],
      "id": "9d823205-66f7-4233-8b5d-c646f599dbc8",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EbmU9Spq2VR52cgq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "booking consultation",
        "emailType": "text",
        "message": "=hi,  {{ $json['Doctor Name'] }}\nyou have a new patient:{{ $json['Patient Name'] }} for consultation\npatient name: {{ $('On form submission').item.json['What is your name ?']}}\npatient query: {{ $('On form submission').item.json['What is your query ?'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        48
      ],
      "id": "76a94e07-5771-4e3a-80b0-e2c5af5f7137",
      "name": "Send a message1",
      "webhookId": "a8014ce6-6673-4fd5-961d-fdbfb032ebff",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q94L671xox0K9Aic",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI",
          "mode": "list",
          "cachedResultName": "hospital data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1918472012,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit#gid=1918472012"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Doctor Name": "={{ $('Get row(s) in sheet1').item.json['Doctor Name'] }}",
            "Status": "Consulting",
            "Patient Name": "={{ $('On form submission').item.json['What is your name ?'] }}"
          },
          "matchingColumns": [
            "Doctor Name"
          ],
          "schema": [
            {
              "id": "Doctor Name",
              "displayName": "Doctor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ward Name",
              "displayName": "Ward Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Time",
              "displayName": "Available Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        48
      ],
      "id": "edb558bc-9f29-4755-b2d1-e71785b7e6fb",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EbmU9Spq2VR52cgq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI",
          "mode": "list",
          "cachedResultName": "hospital data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1918472012,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit#gid=1918472012"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Ward Name",
              "lookupValue": "Mental Health Ward"
            },
            {
              "lookupColumn": "Status",
              "lookupValue": "On Call"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        192
      ],
      "id": "0ae24cc8-4869-474d-a002-a59ed8f5ab11",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EbmU9Spq2VR52cgq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        192
      ],
      "id": "0beae635-2f94-4a9f-bb42-b6f08ebbdb0b",
      "name": "Send a message2",
      "webhookId": "8e670662-5192-4eb4-8823-e673aef4eb99",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q94L671xox0K9Aic",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI",
          "mode": "list",
          "cachedResultName": "hospital data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1918472012,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZScvFqCjQ1Mwo-Se6YMHdjxTsLYG17UQ-tQFZzHGafI/edit#gid=1918472012"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "consulting",
            "Patient Name": "={{ $('On form submission').item.json['What is your name ?'] }}"
          },
          "matchingColumns": [
            "Doctor Name"
          ],
          "schema": [
            {
              "id": "Doctor Name",
              "displayName": "Doctor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ward Name",
              "displayName": "Ward Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Time",
              "displayName": "Available Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Patient Name",
              "displayName": "Patient Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        192
      ],
      "id": "8b156cd0-58f2-4044-b1f5-aa014f9dd146",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EbmU9Spq2VR52cgq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9003b602-f890-4615-b2b6-8ea0a6c44fd4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40a0a53ce0111be118d7977adabd909b2047e473166272624abbb61e53b6dbfe"
  },
  "id": "KTC5L5qfanlCsxJG",
  "tags": []
}